:root {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --font-weight-400: 400;
  --font-weight-700: 700;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--slate-300);
  font-weight: var(--font-weight-400);
}

main {
  width: calc(100% - 20px);
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.qr-component {
  margin: auto;
  width: 338px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 10px 18px #00000022;
}

.qr-component img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.description {
  padding: 20px;
  text-align: center;
}

.description h1 {
  font-size: 1.75rem;
  font-weight: var(--font-weight-700);
}

.description p {
  margin-top: 20px;
  color: var(--slate-500);
}
